In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# loading aur CSV data 
data = pd.read_csv("C:/Users/Hp/Downloads/winemag-data-130k-v2.csv/winemag-data-130k-v2.csv")

In [3]:
data.shape

(129971, 14)

In [4]:
# checking the data type and null values present in which column 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [5]:
# seperaing the numerical and categorical values fr better understanding
cat_cols = data[data.dtypes[data.dtypes=="object"].index]
num_cols = data[data.dtypes[data.dtypes!="object"].index]

In [6]:
num_cols.head(2)

   Unnamed: 0  points  price
0           0      87    NaN
1           1      87   15.0

In [7]:
cat_cols.head(2)

,country,description,designation,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [8]:
data.isnull().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

1. Handling Missing Values
Remove missing values if they are not needed.
Impute missing values using mean, median, mode, or forward-fill/backward-fill methods.
2. Removing Duplicates
Identify and remove duplicate rows based on key columns.
3. Correcting Data Types
Convert columns to the correct data type (e.g., string to datetime, float to integer).
4. Standardizing & Normalizing Data
Convert text to lowercase, remove special characters.
Normalize numerical values (e.g., Min-Max scaling, Z-score standardization).
5. Handling Outliers
Detect outliers using statistical methods (e.g., IQR, Z-score) and decide whether to remove or adjust them.
6. Removing Unnecessary Columns
Drop columns that do not contribute to analysis.

✅ Dropping columns with excessive missing data (>50%)

✅ Filling missing values using mean, median, mode, or forward-fill/backward-fill methods

✅ Predictive Imputation for better accuracy

In [9]:
# 1 checking the cols which hs more than 50% missing value

In [10]:
missing_percentage = (data.isnull().sum() / len(data)) * 100

In [11]:
missing_percentage
  #  as we can see region 2 has more than 50% of missing data

Unnamed: 0                0.000000
country                   0.048472
description               0.000000
designation              28.825661
points                    0.000000
price                     6.921544
province                  0.048472
region_1                 16.347493
region_2                 61.136715
taster_name              20.192197
taster_twitter_handle    24.015357
title                     0.000000
variety                   0.000769
winery                    0.000000
dtype: float64

In [12]:
# Droping the column which has more than 50% of missing data 
cols_to_drop = missing_percentage[missing_percentage > 50].index.tolist()

In [13]:
data.drop(columns=cols_to_drop, inplace=True)

In [14]:
data.isnull().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [15]:
# handling missing values by seprated num_cold and cat_cols

In [16]:
num_cols.isnull().sum()
# only price will contain null values we can fill it either by mean, median , bfill,ffill

Unnamed: 0       0
points           0
price         8996
dtype: int64

In [17]:
num_cols.fillna(num_cols.median(),inplace=True)

C:\Users\Hp\AppData\Local\Temp\ipykernel_10940\3943986546.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_cols.fillna(num_cols.median(),inplace=True)

In [18]:
num_cols.isnull().sum()

Unnamed: 0    0
points        0
price         0
dtype: int64

In [19]:
# handling missing values in cat_cols

In [20]:
cat_cols.isnull().sum()

country                     63
description                  0
designation              37465
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [21]:
cat_cols = cat_cols.fillna(method="ffill")

In [22]:
cat_cols.isnull().sum()

country                  0
description              0
designation              0
province                 0
region_1                 0
region_2                 2
taster_name              0
taster_twitter_handle    0
title                    0
variety                  0
winery                   0
dtype: int64

In [23]:
# outlier treatment

In [24]:
num_cols.describe(percentiles=[0.01,0.04,0.05,0.4,0.5,0.75,0.80,0.90,0.95,0.96,0.98,0.99]).T

,count,mean,std,min,1%,4%,5%,40%,50%,75%,80%,90%,95%,96%,98%,99%,max
Unnamed: 0,129971.0,64985.000000,37519.540256,0.0,1299.7,5198.8,6498.5,51988.0,64985.0,97477.5,103976.0,116973.0,123471.5,124771.2,127370.6,128670.3,129970.0
points,129971.0,88.447138,3.039730,80.0,82.0,83.0,84.0,88.0,88.0,91.0,91.0,92.0,93.0,94.0,94.0,95.0,100.0
price,129971.0,34.646083,39.664385,4.0,8.0,10.0,11.0,23.0,25.0,40.0,45.0,62.0,80.0,90.0,120.0,150.0,3300.0

In [25]:
# we can treat outlier by capping method 
def outlier(x):
    x = x.clip(upper=x.quantile(0.9))
    return x

In [26]:
num_cols = num_cols.apply(outlier)

In [27]:
num_cols.describe(percentiles=[0.01,0.04,0.05,0.4,0.5,0.75,0.80,0.90,0.95,0.96,0.98,0.99]).T

,count,mean,std,min,1%,4%,5%,40%,50%,75%,80%,90%,95%,96%,98%,99%,max
Unnamed: 0,129971.0,64335.105000,36525.171435,0.0,1299.7,5198.8,6498.5,51988.0,64985.0,97477.5,103976.0,116973.0,116973.0,116973.0,116973.0,116973.0,116973.0
points,129971.0,88.272545,2.746893,80.0,82.0,83.0,84.0,88.0,88.0,91.0,91.0,92.0,92.0,92.0,92.0,92.0,92.0
price,129971.0,30.316524,16.205717,4.0,8.0,10.0,11.0,23.0,25.0,40.0,45.0,62.0,62.0,62.0,62.0,62.0,62.0

In [28]:
# here we finally done with outliers

In [29]:
cat_cols.isnull().sum()
cat_cols = cat_cols.dropna()

In [30]:
cat_cols.isnull().sum()

country                  0
description              0
designation              0
province                 0
region_1                 0
region_2                 0
taster_name              0
taster_twitter_handle    0
title                    0
variety                  0
winery                   0
dtype: int64

In [31]:
num_cols.isnull().sum()

Unnamed: 0    0
points        0
price         0
dtype: int64

#### cleaned data

In [32]:
final_data = pd.concat([cat_cols,num_cols],axis=1)